<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">EASY MOVİE EBB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://srv4.uploadsara.net/user/mahmood/Movies/"><b>Movies 1</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://dl3.haylimoviez.info/Movie%202019/"><b>Movies 2</b></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="http://srv4.uploadsara.net/user/sajjad/Tv%20Series/"><b>TV Series 1</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="http://dl.srv-dl.com/My30nama/TV%20serial/"><b>TV Series 2</b></a>
        </li>
      </ul>
  
    </div>
  </nav>