{% extends "layout.html" %}

{% block body %}

<div class="container">

        <div style="background:gray !important" class="jumbotron"> 

            <h4> <center><b>
                    Aşağıdan Kolayca Dizi ve Filmler Arasında Dolanabilirsiniz.
                    Örnek: S4E9 tarzı gördüğünüz şeylerde S -season- sezonu E -episode- bölümü
                    temsil ekmektedir.Yanında çözünürlüklerini de görebilirsiniz.
                    İyi seyirler</b>
            </center>
              
            </h4>
            
        </div>

        <div class = "container">

                <div class="container">
            
                    <div class="container">
                            <div class="container">
                                <div class="container">
                                        <div class="container">
                                                <div class="container">
                                                        <br>
                                                        <button type="button" class="btn btn-primary btn-lg btn-block"><a href="http://srv4.uploadsara.net/user/mahmood/Movies/"><b><font color="orange" , size ="4"><font face ="mono">Movie 1</font></a></button>
                                                            <br>
                                                        <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="http://dl3.haylimoviez.info/Movie%202019/"><b><font color="white" , size ="4"><font face ="mono">Movie 2</font> </a> </button>
                                                            <br>
                                                        <button type="button" class="btn btn-primary btn-lg btn-block"><a href="http://srv4.uploadsara.net/user/sajjad/Tv%20Series/"><b><font color="orange" , size ="4"><font face ="mono">TV Series 1</font></a></button>
                                                            <br>
                                                        <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="http://dl.srv-dl.com/My30nama/TV%20serial/"><b><font color="white" , size ="4"><font face ="mono">TV Series 2</font></a> </button>
                                                            <br>
                                                          <p>   <center><font color="black" , size ="4"><font face ="mono">Buradan Türkçe ya da İngilizce Altyazı İndireblirsiniz</font></center></p> 
                                                            <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="https://turkcealtyazi.org/index.php"><b><font color="orange" , size ="4"><font face ="mono">Altyazı İndirmek İçin Tıklayın</font></a> </button>
                                                            <br>
                                                            <br>
                                                    </div>
                                            </div>
                                </div>
                                    
                                </div>
                    </div>
                       
                </div>
                    
            </div>
       
 </div>


 <div class="container">

        <footer>
              
               
                  <div class="footer-copyright text-center py-4">
                    <a href="https://www.instagram.com/emirhanbilgebulut/?hl=en"><img src="https://image.flaticon.com/icons/png/512/87/87390.png"
                        alt="Instagram " height="35" width="35"></a>
                    <a href="emirhanbilgeblt@gmail.com"> <img
                        src=" https://icon-library.net/images/black-email-icon/black-email-icon-1.jpg" alt="Email " height="35"
                        width="35"></a>
                    <a href="https://github.com/Ebbdev"> <img src="https://raw.githubusercontent.com/fabiospampinato/vscode-github-notifications-bell/master/resources/logo.png"
                        alt="Github " height="35" width="35"></a>
                    <a href="https://www.youtube.com/channel/UCp1QodF_JisDozJ8MOwdtbg/videos"> <img
                        src="https://png.pngtree.com/element_our/md/20180626/md_5b321fcfea2fb.jpg"
                        alt="Youtube " height="35" width="35"></a>
                        <br>
                    <p> <center><font color="black" >&copy;Created by EBB 2019-2022</font></center></p>
                  </div>
            
                </footer>
</div>

{% endblock %}